body {
    font-family: 'Clash Display', sans-serif;
    font-weight: 400;
    background-color: black;
}

.indexlink {
    text-decoration: none;
    color: white;
}

.navhead {
    padding-top: 600px;
}

h1 , h2 {
    color: white;
}

.navhead a {
    margin: 0 15px;
    font-family: 'Clash Display', sans-serif;
    font-weight: 400;
    padding: 10px 20px;
    background-color: #555555;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.3s ease;
}

.navhead a:hover {
    background-color: #222222;
}

a {
    text-decoration: none;
}

.h2made {
    padding-top: 40px;
}

.h2made1 {
    padding: 1px;
}